.container {
    width: 100%;
}

.textContainer {
    font-size: medium;
}

.textContainer {
    text-align: justify;
    text-justify: inter-word;
}

.image {
    border-radius: 1em;
}

.imageContainer {
    float: right;
}



.imageContainer2 {
    float: left;

}

.imageInnerContainer{
    margin-left:  2em;
    width: -webkit-min-content;
     width: -moz-min-content;
    width: min-content;
}

.imageCaptionContainer {
    width: 100%;
}
.imageCaption {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: small;
}